ANTHROPIC_API_KEY=your_anthropic_api_key_here
LINKEDIN_EMAIL=your_linkedin_email_here
LINKEDIN_PASSWORD=your_linkedin_password_here
GMAIL_SENDER=your_gmail_address_here
GMAIL_APP_PASSWORD=your_gmail_app_password_here
